@import "variables";

.privacy-policy {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 32px 0;

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 14px;
  }

  p {
    margin-bottom: 8px;
    color: white;
    font-size: 12px;
  }

  ul {
    padding-bottom: 8px;

    li {
      margin-left: 32px;
      color: $green;
      font-size: 10px;

      a {
        color: $green;
        transition: color 0.4s ease-in-out;

        &:hover {
          color: $red
        }
      }
    }
  }
}